{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>CRUD Application</title>
  </head>
  <body>
    <div class="container mt-4">
      <div class="tab-header">
        <h2 class="asset">Asset<i class="manager">Manager</i></h2>
        <h2></h2>
        <!-- Button to trigger the modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#myModal"
        >
          Add Asset
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="myModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
            <form action="{% url 'add' %}" method="post">
                {% csrf_token %}
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add Asset</h4>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                  <div class="form-group">
                    <label for="assetname">Asset Name</label>
                    <input name="asset_name" type="text" class="form-control" id="asset-name" />
                  </div>
                  <div class="form-group">
                    <label for="assettype">Asset Type</label>
                    <input name="asset_type" type="text" class="form-control" id="assettype" />
                  </div>
                  <div class="form-group">
                    <label for="assetquantity">Asset Quantity</label>
                    <input name="asset_quantity" type="number" class="form-control" id="assetquantity" />
                  </div>
                
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
        
            </div>
            </form>
          </div>
        </div>
      </div>
      {% for ast in assets %}
      <div id="editAsset-{{forloop.counter}}" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="{% url 'update' ast.id  %}" method="post">
          {% csrf_token %}
					<div class="modal-header">						
						<h4 class="modal-title">Edit Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
                    <label for="assetname">Asset Name</label>
                    <input name="asset_name" value="{{ast.asset_name}}" type="text" class="form-control" id="asset-name" />
                  </div>
                  <div class="form-group">
                    <label for="assettype">Asset Type</label>
                    <input name="asset_type" value="{{ast.asset_type}}" type="text" class="form-control" id="assettype" />
                  </div>
                  <div class="form-group">
                    <label for="assetquantity">Asset Quantity</label>
                    <input name="asset_quantity" value="{{ast.asset_quantity}}" type="number" class="form-control" id="assetquantity" />
                  </div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-info" value="Update"> 
					</div>
				</form>
			</div>
		</div>
	</div>
  {% endfor %}
  {% for ast in assets %}
  <div id="deleteAsset-{{forloop.counter}}" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Delete Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Are you sure you want to delete this Asset?</p>
						<p class="text-warning"><small>{{ast.asset_name}} will be deleted</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <a href="{% url 'delete' ast.id %}" type="button" class="btn btn-danger">Delete</a>
					</div>
				</form>
			</div>
		</div>
	</div>
  {% endfor %}

      <div class="row">
        <table class="table table-striped table-bordered text-light">
          <thead class="bg-danger">
            <tr>
              <td>Asset Name</td>
              <td>Asset Type</td>
              <td>Asset Quantity</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody class="bg-info">
            {% for ast in assets %}
            <tr>
              <td>{{ast.asset_name}}</td>
              <td>{{ast.asset_type}}</td>
              <td>{{ast.asset_quantity}}</td>
              <td class="actions">
                <a href="#deleteAsset-{{forloop.counter}}" class="text" data-toggle = "modal"

                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#ff0000"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
                    />
                    <path
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
                    /></svg></a
                ><a href="#editAsset-{{forloop.counter}}" class="edit-icon" data-toggle="modal"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#0000ff"
                    class="bi bi-pen"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
                    /></svg
                ></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

  </body>
</html>
